#############
## Idea
#############
target/
.idea/
.idea
.repository/
.jrtc

/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*
/JavaRushTasks.iml

/2.JavaCore/2.JavaCore.iml
/2.JavaCore/src/Quest.info
/1.JavaSyntax/src/Quest.info
/1.JavaSyntax/1.JavaSyntax.iml
/2.JavaCore/src/com/javarush/task/task12/task1201/Условие.jrtc
/2.JavaCore/src/com/javarush/task/task18/task1824/Условие.jrtc
/2.JavaCore/src/com/javarush/task/task18/task1823/Условие.jrtc
